.clock {
    margin: 0;
    padding: 2px;
    border: 1px solid #9e75c4;
    border-radius: 10px;
    background-color: #d2b7ec;
    width: 100px;
    text-align: center;
    color: #8035c5;
}

.date {
    margin: 0;
    padding: 2px;
    width: 100px;
    text-align: center;
    color: #8035c5;
}
