.select {
    padding: 4px;
    width: 100px;
    border: 1px solid rgba(71, 71, 231, 0.77);
    border-radius: 10px;
    text-align: center;
    background-color: #e6d3f6;
    margin: 5px;
    color: rgba(71, 71, 231, 0.77);
}
